:root {
	--og-theme-color:#ffa100;
	--theme-color:rgb(21, 62, 166);
	--medal-width:20px;
	scroll-behavior: smooth;
}

body {
	background:#ECEFF1;
	color:rgba(0,0,0,0.87);
	font-family: Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#message {
	background: white;
	max-width: 380px;
	margin: 100px auto 16px;
	padding: 32px 24px 16px;
	border-radius: 3px;
}

#message h3 {
	color: #888;
	font-weight: normal;
	font-size: 16px;
	margin: 16px 0 12px;
}

#message h2 {
	color: var(--theme-color);
	font-weight: bold;
	font-size: 16px;
	margin: 0 0 8px; 
}

#message h1 {
	font-size: 22px;
	font-weight: 300;
	color: rgba(0,0,0,0.6);
	margin: 0 0 16px;
}

#message p { line-height: 140%;
	margin: 16px 0 24px;
	font-size: 14px;
}

#message a { display: block;
	text-align: center;
	background: #039be5;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	padding: 16px;
	border-radius: 4px;
	margin-top: 16px;
}

#message, #message a {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#load {
	color: rgba(0,0,0,0.4);
	text-align: center;
	font-size: 13px;
}
@media (max-width: 600px) {
	body, #message {
		margin-top: 0;
		background: white;
		box-shadow: none;
	}
	body {
		border-top: 16px solid var(--theme-color);
	}
}

#message > span > details > summary > img {
	width: var(--medal-width);
	height: 27px;
}

#message > span > details > summary > .fake-medal {
	width: var(--medal-width);
	height: 27px;
	background-color: white;
}

summary {
	display: grid;
	grid-template-columns: var(--medal-width) 1fr 3fr 1fr;
	gap: 10px;
	text-align: left;
	list-style-type: none;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary::marker {
	display: none;
}

details {
	list-style-type: none;
	list-style: none;
}

* {
	list-style-type: none;
	list-style: none;
}

#message > span {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

div.athlete {
	display: grid;
	grid-template-columns: 1fr 60px;
	gap: 10px;
	padding-left: 30px;
}

div.athlete .name {
	text-transform: capitalize;
}

div.athlete:last-of-type {
	margin-bottom: 20px;
}

summary div {
	margin: auto 0;
}

div.team-point-total {
	border-bottom: 3px solid var(--og-theme-color);
	text-align: right;
}

.team-name {
	display: flex;
	align-items: center;
	padding-left: 5px;
	height: 100%;
}

.Bell .team-name {
	background-color:#e0ffb9;
}

.Mitt .team-name {
	background-color:#8ACE00;
	font-family: Arial;
	color: #000000;
	text-transform: lowercase;
}

.Ray .team-name {
	background-color:azure;
}

.Dill .team-name {
	background-color:rgb(220, 255, 250);
}

#menu {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0;
}

#menu a {
	padding: 16px 0px;
	font-weight: bold;
	background-color: var(--theme-color);
	font-size: 12px;
}

.tab-content {
	display: none;
	text-transform: capitalize;
	font-family: 'Courier New', Courier, monospace;
}

.tab-content ul {
	padding-left: 0;
}

.tab-content:target {
	display: block;
	background-color: transparent;
}

.tab-content li {
	display: grid;
	grid-template-columns: 1fr 48px;
	align-items: center;
}

.rankings li {
	font-size: 14px;
}

.rankings img.medal {
	width: var(--medal-width);
}

.rankings li:nth-child(-n+3) .rankNumber {
	display: none;
}

.rankings li:nth-child(-n+3) .name {
	font-size: 20px;
	display: grid;
	grid-template-columns: var(--medal-width) 1fr;
	gap: 10px;
	align-items: center;
}

.rankings li:nth-child(3) {
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.rankings li:nth-child(-n+8) {
	font-weight: bold;
}

.rankings li:nth-child(8) {
	border-bottom: 3px solid var(--og-theme-color);
	margin-bottom: 10px;
	padding-bottom: 10px;
}