fieldset {
    text-align: left;
    margin-top: 5rem;
}

.postContainer:nth-child(odd) {
    background-color: aliceblue;
}

.postContainer:nth-child(even) {
    background-color: beige;
}

.postContainer {
    text-align: left;
    box-sizing: border-box;
    border: 1px solid grey;
    padding: 1rem;
    color: black;
}

h3.username {
    text-indent: 2rem;
}