body {
	--boxContainerSize: 320px;
	--spreadContainerSize: calc(var(--boxContainerSize) * 13 / 16);
	--insideBoxSize: calc(var(--boxContainerSize)*5/8);

	--boxContainerThreeQuarterSize: calc(var(--boxContainerSize)*3/4);
	--spreadContainerThreeQuarterSize: calc(var(--spreadContainerSize)*3/4);
	--insideBoxThreeQuarterSize: calc(var(--insideBoxSize)*3/4);

	--boxContainerHalfSize: calc(var(--boxContainerSize)/2);
	--spreadContainerHalfSize: calc(var(--spreadContainerSize)/2);
	--insideBoxHalfSize: calc(var(--insideBoxSize)/2);

	--black:#020102;
	--pink:#FAA6A4;
	--pink2:#ff8f8d;
	--pink3:rgb(255, 246, 246);
	--pink4:#ff747198;
	--pink5: #FFD7D6;

	display: flex;
	align-items: center;
	justify-content: center;

	flex-direction: column;

	min-height: 100vh;
	min-width: 100vw;
	margin: 0;
	padding: 0;

	background-color: var(--pink);
	color: var(--black);
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	font-family: 'cambria', serif;
}

body.static {
	--black:#e7fbea;
	--pink:#85ea98;
	--pink2:#3936dc;
	--pink3:#184a89;
	--pink4:#8df7ff98;
	--pink5: #FFD7D6;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	max-width: var(--boxContainerSize);

	font-size: 50px;
	font-family: 'cambria', serif;
	border-bottom: 3px solid var(--black);

	margin-bottom: 0;
	padding: 0;
}

h1, h2 {
	margin: 0;
	padding: 0;
	font-size: 50px;
}

h2 {
	font-size: 55px;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;

	flex-direction: column;

	padding-top: 0px;
	padding-bottom: 30px;
}

p#current-solution {
	font-size: 20px;
	margin: 0;
	padding: 10px;
	padding-bottom: 15px;
	min-height: 45px;
	/* background-color: #184a89; */
	
	text-transform: uppercase;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	
	max-width: var(--boxContainerSize);
}

button {
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	background-color: var(--pink);
	color: var(--black);
	cursor: pointer;
	border-radius: 25px;
	margin-top: 20px;
	border: 1px solid var(--black);
}

button:hover {
	background-color: var(--pink3);
}

#todayPuzzle {
	display: none;
}
.static #todayPuzzle {
	display: inherit;
}

#advancedOptions {
	display: none;
}
.static #advancedOptions {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.boxContainer {
	height: var(--boxContainerSize);
	width: var(--boxContainerSize);

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}

.lettersContainer {
	position: absolute;
	display: flex;
	justify-content: space-evenly;
}

.lettersContainer.top , .lettersContainer.bottom {
	width: var(--spreadContainerSize);
	padding: 7px 0 7px 0;
}

.lettersContainer.right , .lettersContainer.left {
	height: var(--spreadContainerSize);
	padding: 0 7px 0 7px;
}

.lettersContainer.top {	top: 0; flex-direction: row; }
.lettersContainer.right { right: 0; flex-direction: column; }
.lettersContainer.bottom { bottom: 0; flex-direction: row-reverse; }
.lettersContainer.left { left: 0; flex-direction: column-reverse; }


.lettersContainer > input {
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	color: var(--pink3);

	width: 30px;
	height: 30px;

	background-color: var(--pink);
	font-weight: bold;
	padding: 0;
	margin: 0;

	border: none;
	transition: all .2s;
}

.lettersContainer > input.isEmpty {
	border: 1px solid var(--black);
	border-radius: 3px;
}

.lettersContainer > input.selected, .lettersContainer > input.solved {
	color: var(--black);
}
.lettersContainer > input.final {
	color: var(--black);
	font-weight: normal;
}

.circleContainer {
	position: absolute;
	display: flex;
	justify-content: space-evenly;
}

.circleContainer.top , .circleContainer.bottom {
	width: var(--spreadContainerSize);
	margin: 48px 0 48px 0;
}

.circleContainer.right , .circleContainer.left {
	height: var(--spreadContainerSize);
	margin: 0 48px 0 48px;
}

.circleContainer.top {	top: 0; flex-direction: row; }
.circleContainer.right { right: 0; flex-direction: column; }
.circleContainer.bottom { bottom: 0; flex-direction: row-reverse; }
.circleContainer.left { left: 0; flex-direction: column-reverse; }

.circleContainer .circle {
	width: 10px;
	height: 10px;
	border: 4px solid var(--black);
	border-radius: 100%;

	background-color: var(--pink3);
	transition: all .2s;
}
.circleContainer .circle.solved {
	background-color: var(--pink);
	border-color: var(--pink3);
}
.circleContainer .circle.selected {
	background-color: var(--black);
	border-color: var(--pink);
}
.circleContainer .circle.final {
	background-color: var(--pink);
	border-color: var(--black);
}

.insideBox, .insideBoxBorder {
	position: absolute;
	background-color: var(--pink3);
	margin: auto;
	height: var(--insideBoxSize);
	width: var(--insideBoxSize);
	border: 5px solid var(--black);
	border-radius: 3px;
}
.insideBoxBorder {
	background-color: transparent;
}

#lineLayer {
	position: absolute;
	width: 100%;
	height: 100%;
}

svg {
	position: absolute;
	stroke: var(--pink4);
	stroke-width: 5px;
	transition: all .1s;
}
svg.final {
	stroke: var(--pink5);
}

.solutionBoxContainer {
	width: var(--boxContainerSize);
	max-height: 400px; /* Set maximum height for the output container */
	overflow-y: auto; /* Enable vertical scroll if content exceeds container height */
	box-sizing: border-box;
	border: 1px solid var(--black);
	padding: 10px;
	margin-top: 20px;
	background-color: var(--pink3);
}

#solutionBoxHeader {
	font-size: 25px;
	padding: 0;
	margin: 0;
}

#solutionBox p {
	font-size: 20px;
	margin: 0;
	padding: 0;
	margin-top: 5px;
}
#solutionBox p:hover {
	cursor: pointer;
}
#solutionBox p.selected {
	background-color: var(--pink);
}

#GhostCanvas {
	display: none;
}

/* phone sizing */
@media (width <= 767px) {
	h1, h2 {
		font-size: 45px;
	}
	
	h2 {
		font-size: 47px;
	}

	.lettersContainer {
		background-color: none;
	}

	.lettersContainer.top , .lettersContainer.bottom {
		width: var(--spreadContainerThreeQuarterSize);
		padding: 3px 0 3px 0;
	}
	
	.lettersContainer.right , .lettersContainer.left {
		height: var(--spreadContainerThreeQuarterSize);
		padding: 0 3px 0 3px;
	}

	.lettersContainer > input {
		font-size: 21px;
		text-transform: capitalize;
		text-align: center;
	
		width: 23px;
		height: 23px;
	
		background-color: var(--pink);
		font-weight: bold;
	}

	.boxContainer {
		height: var(--boxContainerThreeQuarterSize);
		width: var(--boxContainerThreeQuarterSize);
	}

	/* .circleContainer { background-color: aqua;} */
	.circleContainer.top , .circleContainer.bottom {
		width: var(--spreadContainerThreeQuarterSize);
		margin: 35px 0 35px 0;
	}
	
	.circleContainer.right , .circleContainer.left {
		height: var(--spreadContainerThreeQuarterSize);
		margin: 0 35px 0 35px;
	}

	.circleContainer .circle {
		width: 7px;
		height: 7px;
	}

	.insideBox, .insideBoxBorder {
		height: var(--insideBoxThreeQuarterSize);
		width: var(--insideBoxThreeQuarterSize);
	}

	#solutionBoxHeader {
		font-size: 20px;
	}
	
	#solutionBox p {
		font-size: 16px;
	}	

	#GhostCanvas {
		width: 133px;
		height: 136px;
	}
}