@use "./../../animations.scss" as *;

.header {
  height: 100vh;
  height: 100svh; // for mobile
  width: 100%;
  overflow: hidden;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 0.5rem solid var(--maze-solution);
  box-sizing: border-box;

  h1 {
    // this pushes it up from center
    padding-bottom: 10rem;
    z-index: 2;
    margin-left: 0;
  }
}

.staticLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -10%);
  animation: spinning 0.75s ease 0s infinite;
  z-index: 1;
}
