.container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;

  background-color: var(--bg-secondary);
  width: 100vw;
  height: 100vh;
}

.message {
  // background: white;
  background-color: var(--bg-main);
  max-width: 380px;
  padding: 32px 24px 16px;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    // color: #888;
    font-weight: normal;
    font-size: 16px;
    margin: 16px 0 12px;
  }

  h2 {
    color: var(--maze-solution);
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
  }

  h1 {
    font-size: 22px;
    font-weight: 300;
    // color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
  }

  p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
  }

  a {
    display: block;
    text-align: center;
    background: var(--maze-solution);
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
    margin-top: 16px;
  }
}

.canvasContainer {
  width: 100%;
  background-color: var(--bg-third);

  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
}

.canvas {
  max-width: 70%;
}

.message a {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}

@media (max-width: 600px) {
  .container,
  .message {
    margin-top: 0;
    box-shadow: none;
  }
  .container {
    background-color: var(--bg-main);
    border-top: 16px solid var(--maze-solution);
    align-items: start;
  }
}
