.projectHeader {
  font-size: 2rem;
  text-decoration: underline;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
