nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.jumbotron {
	margin-bottom: 0;
	border-radius: 0;
}

main {
	margin-left: 10%;
	margin-right: 10%;
}

h2 {
	text-align: center;
}

h3 {
	padding-left: -2.5%;
}

main {
	padding-top: 30px;
}

@media only screen and (min-width: 600px) {
	nav img {
		display: none;
	}

	.navbar-text {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	nav img {
		display: none;
	}
}