.jumbotron {
	margin-bottom: 0;
	border-radius: 0;
}

body {
	position: relative;
}

body::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: .2;
	background-image: url("../images/free-handprint-clipart-free-handprint-clip-art-images-191683.png");
	background-size: 9.1%;
}

main, footer {
	background-color: white;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 9%;
	margin-right: 9%;
}

main {
	padding-top: 30px;
}

footer {
	padding-top: 30px;
	padding-bottom: 30px;
}

p {
	margin-bottom: 0;
	padding-bottom: 20px;
}

h2 {
	text-align: center;
}

/* about us */
h3 {
	margin-left: -2.5%;
}

.staff-bio {
	padding: 20px;
	background: #fff;
}

.staff-bio {
	border: 5px solid #f0f0f0;
}

.staff-bio img {
	float: left;
	width: 20%;
	height: auto;
	margin-right: 20px;
}

.bio-words strong {
	color: #555;
	display: block;
	font-size: 16px;
}

span.nowrap {
	white-space: nowrap;
}

.staff-bio p {
	margin-top: 10px;
	float: right;
}

i {
	color: rgb(33,37,41);
}


/* header animations */
:root {
	--cat-size: 100px;
}

.jumbotron {
	position: relative;
	transform-box: border-box;
	overflow: hidden;
}

#walking-cat {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	/* background-color: rgba(30,30,30,.5); */

	animation: walk-right2left 35s linear 0s infinite;
}

#walking-cat img{
	/* position: absolute;
	bottom: 0;
	right: 0; */
	height: var(--cat-size);
}

@keyframes walk-right2left {
	0% {
		transform: translate( calc(50% + var(--cat-size)));
	}
	100% {
		transform: translate( calc(-50% - var(--cat-size)));
	}
}



/* get informed */
h2 > button > i {
	margin-right: 5px;
}

.card-body h3 {
	margin-left: 0;
}

.card {
	/* border: solid 5px #343A40; */
	box-shadow: 3px 3px 5px #5F656B;
}

.card-header:hover {
	background-color: #DBDFE2;
}

.resource-list {
	margin-top: 10px;
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	justify-content: center;
}

.resource-list a {
	max-width: 300px;
	color: rgb(33,37,41);
}

.resource-list a:hover {
	text-decoration: none;
}

.resource-list-item {
	padding: 10px 20px 10px 20px;
	border: 5px;
	border-radius: none;
	border: rgb(33,37,41) solid 2px;

	margin: 7px;
	border-radius: 5%;
}

a.resource-list-item > li {
	list-style-type: none;
}

a.resource-list-item h3 {
	font-size: large;
}

section > h2 {
	background-color: #FFE5CC;
	border: #F7DDC4 solid 5px;
	padding: 10px;
}

.jumbotron {
	background-color: #CCCCFF;
}

/* When screen go big */
@media only screen and (min-width: 600px) {
	nav img {
		display: none;
	}

	.navbar-text {
		display: none;
	}

	h2 > button > i {
		margin-right: 20px;
	}
	
	.bio-words {
		overflow: hidden;
	}

	.phone-number-linked {
		display: none;
	}
}

/* When screen go small */
@media only screen and (max-width: 600px) {
	nav img {
		display: none;
	}

	h2 > button {
		font-size: 12px !important;
	}

	.staff-bio img {
		margin-bottom: 10px;
	}

	.phone-number-not-linked {
		display: none;
	}
}

/* when screen go real small */
@media only screen and (max-width: 350px) {
	/* about us */
	.staff-bio div.float-right {
		font-size: 12px;
	}
}
