nav {
	position: -webkit-sticky;
	position: sticky !important;
	top: 0;
}

.jumbotron {
	margin-bottom: 0;
	border-radius: 0;
	/* background-image: url("../images/free-handprint-clipart-free-handprint-clip-art-images-191683.png");
	background-size: 7%; */
}

body {
	background-image: url("../images/free-handprint-clipart-free-handprint-clip-art-images-191683.png");
	background-size: 9.1%;
}

main, footer {
	background-color: white;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 9%;
	margin-right: 9%;
}

footer {
	padding-top: 30px;
	padding-bottom: 30px;
}

p {
	margin-bottom: 0;
}
p {
	padding-bottom: 20px;
}

.jumbotron h1 {
	/* background-color: white; */
}

h2 {
	text-align: center;
}

h2 > button {
	/* color:black !important; */
}

h2 > button > i {
	margin-right: 5px;
}

h3 {
	margin-left: -2.5%;
}

.card-body h3 {
	margin-left: 0;
}

main {
	padding-top: 30px;
}

.resource-list {
	margin-top: 10px;
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	justify-content: center;
	/* border: important!none; */
}

.resource-list a {
	max-width: 300px;
	color: rgb(33,37,41);
	/* border: none; */
}

.resource-list a:hover {
	text-decoration: none;
}

.resource-list-item {
	/* border-radius: 0; */
	padding: 10px 20px 10px 20px;
	border: 5px;
	border-radius: none;
	border: rgb(33,37,41) solid 2px;

	margin: 7px;
	border-radius: 5%;
}

a.resource-list-item > li {
	list-style-type: none;
}

a.resource-list-item h3 {
	font-size: large;
}

/* #staff img {
	width: 20%;
} */

/* When screen go big */
@media only screen and (min-width: 600px) {
	nav img {
		display: none;
	}

	.navbar-text {
		display: none;
	}

	h2 > button > i {
		margin-right: 20px;
	}

	.bio-words {
		overflow: hidden;
	}
}

/* When screen go small */
@media only screen and (max-width: 600px) {
	nav img {
		display: none;
	}

	h2 > button {
		font-size: 12px !important;
	}

	/* .bio-words span {
		margin-top: 1000px;
	} */

	.staff-bio img {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 350px) {
	.staff-bio div.float-right {
		font-size: 12px;
	}
}

.staff-bio {
	padding: 20px;
	background: #fff;
}

.staff-bio {
	border: 5px solid #f0f0f0;
}

.staff-bio img {
	float: left;
	width: 20%;
	height: auto;
	margin-right: 20px;
}

.bio-words strong {
	color: #555;
	display: block;
	font-size: 16px;
}

span.nowrap {
	white-space: nowrap;
}

.staff-bio p {
	margin-top: 10px;
	float: right;
}