nav {
	height: 0;
}

img#cover {
	position: sticky;
	z-index: -1;
	top: 0;
	width: 100%;
}

main {
	padding-top: .1rem;
}

#wrapper {
	background: white;
	box-shadow: 0px -1px 10px rgba(60,60,60,.5);
	
	position: relative;
}

h1 {
	position: absolute;
	top: 12rem;
	right: 4rem;

	background: rgba(60,60,60,.7);
	color: whitesmoke;
	
	padding: .5rem 1rem .9rem 1rem; /* top right bottom left */
	border-radius: .5rem;
	animation: comeIn 1.5s ease 0s;
}

.static h1 {
	color: black; /* Jack */
	animation: comeIn2 .5s linear 0s;
	animation-iteration-count: infinite;
}

@keyframes comeIn {
	0% {transform: translate(0,3.5rem);opacity: 0.1;}
	100% {transform: translate(0,0);opacity: 1;}
}

@keyframes comeIn2 {
	0% {transform: translate(0,5rem);opacity: 0.1;}
	5% {transform: translate(0,-4.75rem);}
	10% {transform: translate(0,4.5rem);}
	15% {transform: translate(0,-4.25rem);}
	20% {transform: translate(0,4rem);}
	25% {transform: translate(0,-3.75rem);}
	30% {transform: translate(0,3.5rem);}
	35% {transform: translate(0,-3.25rem);}
	40% {transform: translate(0,3rem);}
	45% {transform: translate(0,-2.75rem);}
	50% {transform: translate(0,2.5rem);}
	55% {transform: translate(0,-2.25rem);}
	60% {transform: translate(0,2rem);}
	65% {transform: translate(0,-1.75rem);}
	70% {transform: translate(0,1.5rem);}
	75% {transform: translate(0,-1.25rem);}
	80% {transform: translate(0,1rem);}
	85% {transform: translate(0,-.75rem);}
	90% {transform: translate(0,.5rem);}
	95% {transform: translate(0,-.25rem);}
	100% {transform: translate(0,0);opacity: 1;}
}

p {
	text-align: left;
}

h3 {
	text-align: left;
	padding-bottom: 0;
	padding-top: 1rem;
	margin-bottom: 0;
	border-top: .2rem solid teal;
}

h3 + p {
	/*border-bottom: .2rem solid teal;*/
	padding-top: 0;
	padding-bottom: 1rem;
	margin-top: 0;
}

h3 + p, h3 {
	/*border-left: .2rem solid teal;*/
	padding-left: 1rem;
}

span {
	text-align: left;
	font-style: italic;
}

div.resumeItem:hover {
    background:#F5F5F5;
}

div.resume ul {
	text-align: left;
    list-style-type: none;
}

div.resume li {
	padding: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	text-indent: -1.75rem;
}

div.resume li::before {
	content: "\2014\a0";
}