main ul {
    list-style-type: none;
    text-align: left;
}

main li {
    padding: 10px;
}

main a {
    color: darkslategrey;
    text-decoration: none;
}

main a:visited {
    color: darkslategray;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
    color: slategray;
}