/* Animate the Predators/Prey?? */

#Ghost {
	animation: ghostCircle 5s linear 1s;

}

@keyframes ghostCircle {
	0% {transform: translate(0,0);}
	25% {transform: translate(0,-5rem);}
	50% {transform: translate(-10rem,-5rem);}
	75% {transform: translate(-10rem,0);}
	100% {transform: translate(0,0);}
}

#PacMan {
	animation: pacCircle 5s linear 1s;
}

@keyframes pacCircle {
	0% {transform: translate(0,0);}
	25% {transform: translate(10rem, 0);}
	50% {transform: translate(10rem,-5rem);}
	75% {transform: translate(0,-5rem);}
	100% {transform: translate(0,0);}
}