body {
    background: white;
    box-shadow: 0px -1px 10px rgba(60,60,60,.5);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    text-align:left;
}

/* lol no. I look like a lazer tag joint 
.left h2 {
    text-shadow: 1px 1px 2px crimson;
}

.right h2 {
    text-shadow: 1px 1px 2px teal;
}
*/


h2 > a {
    color:black;
    text-decoration: none;
    padding:.5rem;
}

h2 > a:hover {
    color:#757575;
    /* text-decoration: underline; */
}

header > p {
    text-align: center;
}

p {
    text-align: left;
    /* text-indent: 5rem; */
}

.proj {
	overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width:100%;
	padding-top: 1rem;
    padding-bottom: 1rem;
}

.proj:nth-child(even) {
    flex-direction: row-reverse;
}

/* .proj:hover {
    background:#F5F5F5;
} */

.proj:nth-child(odd) > .words {
    margin-right: 2rem;
}

.proj:nth-child(even) > .words {
    margin-left: 2rem;
}

.words {
    width: 60%;
}

.title {
    width: 100%;
}

.summary {
    width: 100%;
}

.image {
    width: 20rem;
    height: auto;
}

.image > a > img {
    width: 100%;
    height: auto; /* ??? Why it no keep scale :( ??? */
    overflow: hidden;
    
    border: solid black;
    border-width:.3rem;
}

.image > a > img:hover {
    /* filter: blur(2px); */
    filter: invert(20%);
}

/* #mazeProject > .image {
    background-image: url("../images/mazePreview.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#mazeProject > .image:hover {
    background-image: url("../images/mazeSolvePreview2.png");
    background-repeat: no-repeat;
    background-size: contain;
} */


/* Box shadow with blurr */
/* box-shadow: 10px 10px 5px teal */

.proj:nth-child(odd) > .image > a > img {
    box-shadow: 10px 10px teal;
    -moz-box-shadow: 10px 10px teal;
    -webkit-box-shadow: 10px 10px teal;
    -khtml-box-shadow: 10px 10px teal;
}

.proj:nth-child(even) > .image > a > img {
    box-shadow: -10px 10px crimson;
    -moz-box-shadow: -10px 10px crimson;
    -webkit-box-shadow: -10px 10px crimson;
    -khtml-box-shadow: -10px 10px crimson;
}
