:root {
	--offwhite:rgb(221, 221, 221);
	/* rgb(3, 1, 17); */
	--close-button:crimson;
	/* rgb(255, 200, 200); */
	--font-color:rgb(31, 31, 31);
	--blue:#004d85;
	--red:#6b194d;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
}

@media only screen and (max-width: 600px) {
	:root {
		font-size: 12px;
	}
}

html {
	scroll-behavior: smooth;
}

/* Set my own defaults */
#full-body {
	position: relative;
	max-width: 60rem;
	min-width: 30rem;
	/* max-width: 90vw; */
	margin: auto;
	text-align: center;

	
	color: var(--font-color);
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
}

/**************************************
 * * * * * Navigation Styling * * * * *
 **************************************/
nav {
	width:100%;
	text-align: right;
	top: 0;
	right: 0;
	height: 5rem;
}

nav ul {
	position: absolute;
	top: 1rem;
	right: 3rem;
}

nav ul li {
	display: inline;
	vertical-align: top;
}

nav a {
	background: rgba(60, 60, 60, .7);
	font-size: 1rem;
	color: white;
	text-decoration: none;
	padding: .5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

#current {
	background: rgba(0,0,0,.7);
}

#current:hover {
	background: white;
}

nav a:hover {
	background: white;
	color:black;
	text-decoration: underline;
}

/* Static */
.static #full-body {
	filter: invert(100%);
}

body.static {
	/* filter:invert(100%); */ /* WHY ON EARTH DOES THIS MESS UP POSITION: FIXED FOR MY BUTTONS*/
	background-color: black;
	background-image: url(../images/static2.png);
	background: linear-gradient( rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66) ), url('../images/static2.png');
}

.static nav ul {
	animation: roll 5s ease 1s infinite;
}

@keyframes roll {
	0% {transform: rotate(0deg);}
	/* 20% {transform: rotate(360deg);} */
	25% {transform: rotate(375deg);}
	30% {transform: rotate(360deg);}
	50% {transform: rotate(360deg);}
	55% {transform: rotate(345deg);}
	/* 60% {transform: rotate(360deg);} */
	85% {transform: rotate(735deg);}
	90% {transform: rotate(720deg);}
	100% {transform: rotate(720deg);}
} 

/**********************************
 * * * * * Footer Styling * * * * *
 **********************************/
footer {
	padding-bottom: 3rem;
	padding-top: 3rem;
}
footer img {
    height: 4rem;
	transition: all .5s;
}

footer img:hover {
	transform: scale(1.2,1.2);
}

#konamiHint {
	/* this is a button */
	margin-top: .5rem;
	display: none;
	border: none;
	margin: auto;
	flex-direction: row;
	justify-content: center;
	z-index: 0;
	position: relative;

	background-color: transparent;
}

#konamiHint div.bubble {
	z-index: 0;
	height: 2rem;
	width: 2rem;
	display: block;

	position: relative;
	border: none;
	border-radius: 100%;

	background-color: grey
}

#konamiHint div.bubble span {
	z-index: 0;
	position: absolute;
	bottom: 50%;
	right: 50%;
	transform: translate(50%,42.5%);
	color: var(--offwhite);

	/* index.css puts italics on span */
	font-style: normal;
}

button#konamiFailsafe {
	display: none;
}

.static button#konamiFailsafe {
	display: inherit;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 6rem;
	height: 6rem;
	border-radius: 100%;
	margin: 1rem;

	background-color: red;
	background: radial-gradient(red,#dd0000,black);
	color: white;
	font-size: 1rem;
	font-weight: bold;

	/* text-shadow: black 2px 2px 4px; */
	/* border: solid black 2px; */
	border: none;
	animation: fade 3s ease 1s forwards;
}

@keyframes fade {
	0% {}
	100% {opacity: .3;}
}

.static button#konamiFailsafe:hover {
	opacity: 1;
}


/**********************************
 * * * Contact Modal Styling  * * *
 **********************************/

#contact-modal {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	position: fixed;
	/* position: sticky; */
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
}

#contact-modal.active {
	display: flex;
}

.modal-bg {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 120%;
	background-color: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	z-index: 2;
}

.modal-card {
	width: 50%;
	max-width: 30rem;
	/* min-width: 10rem; */
	
	min-height: 20px;
	background-color: var(--offwhite);
	border-radius: 1rem;
	border: 2px solid var(--offwhite);
	text-align: center;
	padding: 20px;
	margin-top: 1rem;
	z-index: 3;
	
	transition: all .4s;

	cursor: pointer;
}

.modal-card:hover {
	filter: invert(20%);
}

.close {
	font-weight: bold;
	border-color: var(--close-button);
	background-color: var(--close-button);
	color: var(--offwhite);
	position: relative;
}

.close:hover {
	color: var(--close-button);
	background-color: var(--offwhite);
	cursor: pointer;
}

.close > span {
	font-size: 2rem;
	position: absolute;
	right: 10px;
	line-height: 0;
	top: 50%;
	/* transform: translate(-100%,50%); */
	transform: rotate(45deg);

	padding: 0;
	margin: 0;
	font-style: normal;
}

#contact-modal svg {
	height: 3rem;
	width: 3rem;
	float: left;
}

#contact-modal a {
	text-decoration: none;
}

.modal-card img {
	float: left;
	height: 3rem;
	margin-right: 1rem;
}

.modal-card p {
	/* float: left; */
	padding-left: 1rem;
}

#notification {
	display: block;
	opacity: 0;

	z-index: 10;
	position: fixed;
	bottom: 0;
	right: 50%;
	transform: translate(50%,0);
	transition: all .4s;

	font-size: larger;
	padding: .5rem 1rem .5rem 1rem;
	background-color: rgb(22, 22, 22);
	color: whitesmoke;
	border: solid rgb(22,22,22) 5px;
	border-radius: 1rem 1rem 0 0;
}

.fade-out {
	animation: fadeOut 2s linear 0s;
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

/* .LinkedIn a {
	background-color: #0077B5;
	z-index: 10;
	height: 3rem;
	width: 3rem;
}

.LinkedIn img {
	filter: opacity(1);
	filter: invert(1);
} */

/* Warning */
.warning::before, .warning::after {
	content: '\26A0';
}