nav a {
	background: rgb(132,52,54);
}

#banner {
	color: white;
	background: rgb(132,52,54);
	text-align: left;
	padding: 2rem;
	top: 0;
	position: relative;
	width: 100%;
	margin: 0;
	z-index: -1;
	box-sizing: border-box;
	border: 1rem double white;
}

iframe {
	width: 100%;
	margin: auto;
}

table {
	margin: auto;
	margin-bottom: 1rem;
	margin-top: 1rem;
	text-align: left;
	border-collapse: collapse;
	color: white;
}

th {
	padding: 1rem;
	padding-right: 5rem;
}

tr {
	background: rgb(19,54,86);
}

tr:hover {
	background-color: rgb(39,74,106);
	
}

td {
	padding: .5rem;
	padding-left: 1rem;
	border-width: .5rem;
	border-style: double;
	border-top-width: 1rem;
	border-left-style: solid;
	border-right-style: solid;
	border-color: white;
	/* 132, 52, 54  looks like clay */
}

tr td:first-child::after {
	content: 'th';
}

tr:nth-child(10n+2) td:first-child::after {
	content: 'st';
}

tr:nth-child(10n+3) td:first-child::after {
	content: 'nd';
}

tr:nth-child(10n+4) td:first-child::after {
	content: 'rd';
}

/* 11th, 12th, and 13th so they aren't 11st, 12nd, and 13rd */
tr:nth-child(12) td:first-child::after, 
tr:nth-child(13) td:first-child::after, 
tr:nth-child(14) td:first-child::after {
	content: 'th';
}

#data {
	text-align: center;
}

/* crimson -> rgb(183,0,12) */
button {
	margin: auto;
	background-color: #82B541;
	background-color: rgb(132,52,54);
	border: none;
	border-radius:6px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	font-size: 1rem;
	padding: 1rem 2rem 1rem 2rem;
	cursor: pointer;
}

#RankTables {
	display: flex;
	flex-flow: row wrap;
	vertical-align: top;
}