@use "./variables.scss" as *;

:export {
  mazeDefault: $maze-default;
  mazeDeadEnd: $maze-dead-end;
  mazeSolution: $maze-solution;
  mazeWall: $maze-wall;
  mazeEnqueued: $maze-enqueued;
  mazeVisited: $maze-visited;

  staticBg: $static-bg;
  staticPrimary: $static-primary;

  mazeDefaultLight: $maze-default-light;
  mazeDeadEndLight: $maze-dead-end-light;
  mazeSolutionLight: $maze-solution-light;
  mazeWallLight: $maze-wall-light;
  mazeEnqueuedLight: $maze-enqueued-light;
  mazeVisitedLight: $maze-visited-light;

  staticBgLight: $static-bg-light;
  staticPrimaryLight: $static-primary-light;
}
