/********* Dark Theme *********/
$fg-main: #eee;

$bg-main: #0d0c1e;
$bg-secondary: #464081;
$bg-third: #353063;

$maze-default: #353063;
$maze-dead-end: #353063;
$maze-solution: #6f67ff;
$maze-wall: #16142a;

$maze-enqueued: yellow;
$maze-visited: #242043;

$static-bg: $maze-wall;
$static-primary: $maze-solution;

/********* Light Theme *********/
$fg-main-light: #16142a;

$maze-default-light: #f4d7b3;
$maze-dead-end-light: $maze-default-light;
$maze-solution-light: #ab744d;
$maze-wall-light: #ffecc9;
$maze-enqueued-light: yellow;
$maze-visited-light: #d7bd9d;

// $bg-main-light: #ffbb67;
// $bg-secondary-light: #ffbb67;
$bg-third-light: #c9b193;

$bg-main-light: $maze-wall-light;
$bg-secondary-light: $maze-default-light;

$fg-main-light: #1a1730;

$bg-main-light: #faf9ff;
$bg-secondary-light: #eeecff;
$bg-third-light: #ddd9ff;

$maze-default-light: #e7e4ff;
$maze-dead-end-light: #dad6f7;
$maze-visited-light: #cfcaf0;

$maze-wall-light: #b8b2e6;

$maze-solution-light: #6f67ff;
$maze-enqueued-light: #ffbf3c;

$static-bg-light: #c75300;
$static-primary-light: #ffb070;

$red: #302058;
$blue: #302058;

:root {
  color-scheme: light dark;
  --fg-main: #{$fg-main};

  --bg-main: #{$bg-main};
  --bg-secondary: #{$bg-secondary};
  --bg-third: #{$bg-third};

  --maze-default: #{$maze-default};
  --maze-dead-end: #{$maze-dead-end};
  --maze-solution: #{$maze-solution};
  --maze-wall: #{$maze-wall};

  --red: #{$red};
  --blue: #{$blue};
}

@media (prefers-color-scheme: light) {
  :root {
    --fg-main: #{$fg-main-light};

    --bg-main: #{$bg-main-light};
    --bg-secondary: #{$bg-secondary-light};
    --bg-third: #{$bg-third-light};

    --maze-default: #{$maze-default-light};
    --maze-dead-end: #{$maze-dead-end-light};
    --maze-solution: #{$maze-solution-light};
    --maze-wall: #{$maze-wall-light};
  }
}
