*{
    text-align: left;
}

h1{
    font-size: xx-large;
    font-weight: bolder;
}

legend{
    font-size: larger;
    font-weight: bold;
}

input {
    border-radius: 10px;
    width: max-content;
}

body {
    margin-bottom: 20px;
}