#wrapper {
    text-align: left;
    padding:25px;
}

#sidebar {
    position: fixed;
    top: 200px;
    width: 29%;
    background-color: blue;
    float: left;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

#profile {
    width: 100%;
    background-color: grey;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border: 1px solid black;
}

.likebutton button {
    float: left;
    width: 50%;
    height: 35vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    box-sizing: border-box;
    border: 1px solid black;
}

.likebutton button img {
    width: 90%;
}

.leftswipe {
    animation: goLeft 2s ease 1s;
    z-index: -1;
}

@keyframes goLeft {
	0% {transform: translate(0,0);}
	100% {transform: translate(-125vw,0);opacity:0;}
}

.rightswipe {
	animation: goRight 2s ease 1s;
}

@keyframes goRight {
	0% {transform: translate(0,0);}
	100% {transform: translate(125vw,0);opacity:0;}
}

#checking {


    float: right;
    width: 68%;

    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

#checking p {
    margin: 0;
    padding: 0;
}

#checking img {
    max-width: 100%;
    width: auto;

    box-sizing: border-box;
    border: 1px solid black;
}

#bio h3 {
    border-bottom: 2px solid black;
}

#bio {
    padding-left: 10px;
}
