#wrapper {
    text-align: left;
    padding:25px;
}

nav ul{
    font-size: 54px;
}

#sidebar {
    position: fixed;
    top: 200px;
    width: 29%;
    float: left;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

#profile {
    width: 100%;
    background-color: grey;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border: 1px solid black;
}

.likebutton button {
    float: left;
    width: 50%;
    height: 35vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    box-sizing: border-box;
    border: 1px solid black;
}

.likebutton button:hover {
    background-color:aliceblue;
}

.likebutton button img {
    width: 90%;
}

.leftswipe {
    animation: goLeft 2s ease 1s;
    z-index: -1;
}

@keyframes goLeft {
	0% {transform: translate(0,0);}
	100% {transform: translate(-125vw,0);opacity:0;}
}

.rightswipe {
	animation: goRight 2s ease 1s;
}

@keyframes goRight {
	0% {transform: translate(0,0);}
	100% {transform: translate(125vw,0);opacity:0;}
}

.checking {
    position: absolute;
    top: 80%;
    right: 2%;

    width: 62%;

    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.checking.bottom {
    z-index: 0;
}
.checking.top {
    z-index: 0;
}

.checking p {
    margin: 0;
    padding: 0;
}

.checking img {
    max-width: 100%;
    width: auto;

    box-sizing: border-box;
    border: 1px solid black;
}

.checking p {
    margin: 0;
    padding: 0;
}

label {
    width: 100px;
}

input.labeled {
    width: 180px;
}

input {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
}

textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

#bio h3 {
    border-bottom: 2px solid black;
}

#bio {
    padding-left: 10px;
}
