#wrapper {
    text-align: left;
    padding:25px;
}

body {
    margin-bottom: 20px;
}

nav ul{
    font-size: 54px;
}

h1 {
    color: white;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

#sidebar {
    position: fixed;
    top: 200px;
    width: 29%;
    float: left;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

#profile {
    width: 100%;
    background-color: grey;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border: 1px solid black;
}

#profileName {
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.likebutton button {
    float: left;
    width: 50%;
    height: 35vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    box-sizing: border-box;
    border: 1px solid black;
}

.likebutton button:hover {
    background-color:rgb(220,220,220);
}

.likebutton button img {
    width: 90%;
}

.leftswipe {
    animation: goLeft 2s ease 0s;
}

@keyframes goLeft {
	0% {transform: translate(0,0);}
	100% {transform: translate(-125vw,0);opacity:0;}
}

.rightswipe {
	animation: goRight 2s ease 0s;
}

@keyframes goRight {
	0% {transform: translate(0,0);}
	100% {transform: translate(125vw,0);opacity:0;}
}

#top, #bottom {
    position: absolute;
    top: 80%;
    right: 2%;

    width: 62vw;

    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

#bottom {
    z-index: 0;
}
#top {
    z-index: 1;
}

#top p, #bottom p {
    margin: 0;
    padding: 0;
}

#top img, #bottom img {
    max-width: 100%;
    width: 100%;

    box-sizing: border-box;
    border: 1px solid black;
}

label {
    width: 100px;
}

input.labeled {
    width: 180px;
}

input {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding-left: 0;
}

textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.bio h3 {
    border-bottom: 2px solid black;
}

.bio {
    padding-left: 10px;
}
