body {
	background: #000 url(images/ua-pres-mansion.jpg) » 
  center center fixed no-repeat;
	-moz-background-size: cover;
	background-size: cover;
  }

h1 {
	font-size: 3rem;
	color: black;
	text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

h2 {
    font-size: 2rem;
    text-align:left;
}

p {
    text-align: left;
}

iframe {
    width: 100%;
    height: 25rem;
    border: .5rem solid black;
}

#data {
	text-align: center;
}

#container {
	box-sizing: border-box;
	border: .1rem solid black;
	background-color: rgba(255, 255, 255, .8);
	border-radius: 2rem;
	width: 30rem;
	padding: 1rem;
	margin: auto;
}

button {
	margin-bottom: .3rem;
	margin-top: .3rem;

	background-color: rgb(220, 220, 220);
	border: none;
	border-radius: .2rem;
	font-weight: bold;
	color: black;
	text-align: left;
	font-size: 1rem;
	padding: 1rem 2rem 1rem 2rem;
	cursor: pointer;
	width: 100%;
	font-size: 1.5rem;
}

button span.right {
	float: right;
}

form {
	text-align: left;
}

form label {
	margin-top: 1rem;
	line-height: 3rem;
	vertical-align: text-bottom;
}

form input[type=submit] {
	border: black;
	text-align: center;
}

form input[type=text], form input[type=password] {
	width: 60%;
	padding: .5rem 1rem;
	margin: .5rem 0;
	border-radius: .25rem;
	box-sizing: border-box;
	border-width: .1rem;
}

form input[type=text]:focus, form input[type=password]:focus {
	outline: none;
	border-bottom: .1rem solid blue;
	background-color: linear-gradient(to right, red, purple);
}

ul {
	display: inline;
	
}
