#wrapper {
    text-align: left;
    padding:25px;
}

h1 {
    text-align: center;
    color: white;
    background-color: rgb(230, 157, 153);
}

#sidebar {
    width: 29%;
    float: left;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
}

#profile {
    width: 100%;
    background-color: grey;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    border: 1px solid black;
}

i {
    color: black;
    padding: 3px;
    border-radius: 10px;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar button {
    border-radius: 10px;
}

.messages {
    padding: 0;
    width: 100%;
    background-color: white;
}

.messageblock {
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    border: 2px solid black;
    overflow: hidden;
    background-color: white;
    padding: 5px;
}

.messageName {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}

.messagePrev {
    width: 100%;
    font-size: 1.25rem;
}

#checking {
    float: right;
    width: 68%;

    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 100px;
    background-color: white;
}

#checking img {
    max-width: 100%;
    width: 100%;

    box-sizing: border-box;
    border: 1px solid black;
}

#checking p {
    margin: 0;
    padding: 0;
}

label {
    width: 120px;
}

input {
    border: none;
    box-sizing: border-box;
}

#save {
    background-color: #4CAF50;
    color: white;
}

#bio h3 {
    border-bottom: 2px solid black;
}

#bio {
    padding-left: 10px;
}

#biog {
    width: 100%;
}
